.css-treeview ul,
.css-treeview li {
    list-style: none;
}

.tree-list-pad {
    padding: 30px 30px;
}

.css-treeview {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .css-treeview {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }
    @-webkit-keyframes webkit-adjacent-element-selector-bugfix {
        from {
            padding: 0;
        }
        to {
            padding: 0;
        }
    }
}

.css-treeview label {
    background-position: 18px 0;
}

.activelink {
    font-weight: bold;
    text-decoration: underline;
}

.css-treeview label,
.css-treeview a,
.css-treeview label::before {
    display: inline-block;
    vertical-align: middle;
}

.css-treeview label,
.css-treeview label::before {
    cursor: pointer;
}

.css-treeview label {
    padding: 5px;
    margin: 2px;
    font-size: 0.9em;
    color: #0c1d50;
    letter-spacing: 1px;
}

label {
    margin: 0;
}

label {
    max-width: 100%;
    font-weight: bold;
}

.css-treeview input {
    position: absolute;
    opacity: 0;
}

.css-treeview>.a:active {
    background-color: #FFCC66;
}

.s-text-13{
    font-size: 15px;
    color: #0c1d50;
    line-height: 1.8;
}
.css-treeview {
    border: 1px solid #d2d2d2;
}
.css-treeview i {
    color: #0d47a1;
}

.css-treeview h4 {
    color: #0d47a1;
    text-align: center;
    background: #f7f7f7;
    padding: 17px 0;
    font-size: 1.2em;
    font-weight: 700;
    border-bottom: 1px solid #d2d2d2;
    letter-spacing: 1px;
    text-transform: uppercase;
}