.title_desc {
    color: #1D2B60;
    font-size: 1.0em;
    font-weight: 700;
    background: #f7f7f7;
    letter-spacing: 1px;
    font-family: Montserrat-Regular;
    padding-top: 5px;
}
.loading-indicator {
    position: relative;
    height: 500px;
    margin-left: 50%;
    margin-right: 50%;
    top: 200px;
  }