<div class="m-t-50">
    <app-carousel></app-carousel>
    <div class="row">
        <div class="col-md-9 m-auto">
            <div class="new_arrivals_agile_w3ls_info">
                <div class="container p-b-30">
                    <h3 class="wthree_text_info title">Nos <span>Categories</span></h3>
                    <app-categories-items-group></app-categories-items-group>
                </div>
                <hr>
                <div class="container">
                    <h3 class="title">Quelques articles</h3>
                    <app-tabshome></app-tabshome>
                </div>
            </div>
        </div>
    </div>
</div>


