<div class="loading-indicator" *ngIf="!datasLoaded">
  <mat-progress-spinner mode="indeterminate" ></mat-progress-spinner> 
</div>
<div class='container' *ngIf="datasLoaded">
    <div class="row">
      <div class="col-md-2 col-sm-2 col-3" *ngFor="let category of categoriesList">
        <app-category-home 
            [id]="category.id" 
            [nom]="category.nom"
            [imageUrl]="category.imageUrl"
            [souscategories] = "category.souscategories"
        >
        </app-category-home>
      </div>
    </div>
    
</div>