<div class="container shadow m-t-150 m-b-50">
    <div>
        <h2 class="title1">L’INNOVATION A NOTRE FAÇON ; BIEN TENTANT N EST CE PAS ?</h2>
        <div class="row">
            <div class="col-md-8">
                <p>
                    C’est en mi 2018 que Gilles NKadeu entame sa carrière dans la recherche de tout ce qui est manque pour son pays ! Il se dit donc waouh, il y en a beaucoup. Etudiant à polytechnique il se penche vers le commerce digital (le e-commerce), un domaine pas
                    novateur dans son pays mais non plus pas très développé. Avec ses amis Franck Nyatchou et Yvan Nkana, il lance donc en 2019 la boutique FreeShop une direction de son label Free question de débuter dans sa carrière.

                </p>
            </div>
            <div class="col-md-4">
                <img src="/assets/imgs/logo_2.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
    <div>
        <h5>Résultat :</h5>
        <ul class="list-style-img">
            <li>Il confirme ses qualités d’entrepreneur</li>
            <li>Elargit ses champs visions et produit aussi Academia (une agence de formation professionnelle) (à mettre sous forme d’un lien)</li>
            <li>La boutique FreeShop qui a de centaines de visites par jour.</li>
        </ul>
        Les origines de la boutique de Vente en ligne FreeShop sont là.
    </div>
    <div>
        <h2 class="title1">
            MAIS BON BREF ET FREE ALORS ?
        </h2>
        <p>
            N’avez-vous pas mare d’être dernier ? C’est la question que Gilles Nkadeu posait toujours à son entourage. Tu as envies de pouvoir faire ça ou ça ? Fais simplement ça ou ça. Free est en création permanente et s’étant sur tous les domaines. Tu es passionné
            par certaines choses et tu as une envie folle de créer ? Free de permet de t amuser dans le développement et prévoit pour les années futur :
        </p>
    </div>
    <div>
        <ul class="list-style-img">
            <li>Des ateliers de Recherche dans tout domaine (Médecine, ingénierie, technologie, militaire).</li>
            <li>Des ateliers de développement technologique.</li>
            <li>Un esprit communautaire tendant vers l’échange.</li>
        </ul>
    </div>
    <div class=" row img-fluid">
        <img src="" alt="">
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="view  mb-lg-0 mb-4" style="height: 150px">
                <img src="/assets/imgs/logofree.png" class="img-fluid cover" alt="Responsive image">
            </div>
        </div>
        <div class="col-md-8 text-center">
            <p class="title1">DES CREATIONS DE FREE</p>
        </div>
    </div>
    <div class="row">
        <ul class="list-style-img">
            <li>FreeShop : boutique de commerce électronique au Cameroun et bientôt Ailleurs (FreeShop sous forme de lien).</li>
            <li> Academia : Agence professionnelle dans des formations certifiées (Développement d’application web, Design ou infographique, office….). </li>
            <li>FreeTech : pour tout développement technologique(en cours de création)</li>
            <li>FreeBluid : (en cours de création)</li>
            <li>Evenemential…etc. (En forme de lien)</li>
        </ul>
    </div>
    <div>
        <h3 class="title1">DES FORMATIONS POINTUES AVEC ACADEMIA</h3>
        <div class="row">
            <div class="col-md-2">
                <div class="view  mb-lg-0 mb-4 p-t-25">
                    <img src="/assets/imgs/academia.png" class="img-fluid cover" alt="Responsive image">
                </div>
            </div>
            <div class="col-md-10">
                <p>
                    L’évolution continue et nous passons naturellement à l’étape suivante : Mettre les multiples compétences de notre communauté au service des entreprises et entrepreneurs. Notre organisme de formation, Academia est ainsi crée. Nous prévoyons des certifications
                    sur celles-ci.
                </p>
            </div>
        </div>
    </div>
    
    <div>
        <h3 class="title1">UN SITE D’EMPLOI SPECIALISE DANS TOUT LES DOMAINES</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="view mb-lg-0 mb-4">
                    <img src="/assets/imgs/evenemential.png" class="img-fluid cover" alt="Responsive image">
                </div>
            </div>
            <div class="col-md-9">
                <p>
                    Cree en même temps que l’agence Academia, l’équipe de Free a également lancé Evenemential, une page mettant à disposition toutes informations relatives à l’emploi et actualités de la journée intéressantes. Chaque mois ce sont désormais plusieurs dizaines
                    d’annonces d’emplois et de stage qui sont proposées.
                </p>
            </div>
        </div>
    </div>
    <div class="row container">
        <h4>
            ET MAINTENANT ?
        </h4>
        <p>
            Vous pensez sûrement : Mais quand arrêteront-ils tous leurs FreeTrucs…. ? Quand il n’y aura plus rien à perfectionner…Autant dire jamais. Vous comprenez maintenant toute la portée du mot "innovation" Gilles Nkadeu disait souvent ‘’ Innover chez nous ce
            n’est pas toujours inventer un truc qui n’existe’’ pas ! Enregistrer vous dans notre base de données Freeshop déjà disponible pour être à l’affût des informations !

        </p>
        <div class="m-auto">
            <button type="button" data-toggle="modal" data-target="#modalRegisterForm" class="btn btn-outline-primary waves-effect">S'inscrire</button>
        </div>
    </div>
</div>
