<div class="background-des">
    <div class="card-passreset">
        <form [formGroup]="emailForm">
            <h2>Adresse mail</h2>
            <div>
                <p>
                    Entrez votre adresse mail puis cliquez sur valider. Un code vous sera envoyé pour permettre de
                    réinitialiser votre mot de passe dans la prochaine page où vous serez conduits.
                </p>
            </div>
            <div class="form-group mb-4">
                <input type="text" formControlName="email" class="form-control" placeholder="Adresse mail"
                    [ngClass]="{'red-border' : emailForm.get('email').invalid && emailForm.get('email').dirty}">
                <div *ngIf="emailForm.get('email').invalid && emailForm.get('email').dirty" class="error-label">
                    <div *ngIf="emailForm.get('email').hasError('required') && emailForm.get('email').dirty">
                        <i class="fa fa-exclamation-circle"></i> {{emailValidation.requiredMessage}}
                    </div>
                    <div *ngIf="emailForm.get('email').hasError('pattern') && emailForm.get('email').dirty">
                        <i class="fa fa-exclamation-circle"></i> {{emailValidation.invalidMailMessage}}
                    </div>
                </div>
            </div>
            <div class="form-group text-center">
                <button [disabled]="emailForm.invalid" class="btn btn-blue btn-flat" (click)="submit()">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Valider
                </button>
            </div>
        </form>
    </div>
</div>