<div class="container m-auto">
    <div class="col-md-6 m-auto">
        <div class="row">
            <div class="view m-auto">
                <img src="/assets/imgs/stockepuise.jpg" class="img-responsive cover m-t-100" alt="IMG-PRODUCT">
            </div>
            <h2 class="title text-center p-b-30 p-l-30">
                Notre stock d'articles de cette catégorie satisfaisant votre recherche est vide. 
                <br>Articles indisponibles!!
            </h2>
        </div>
    </div>
</div>